.mat-toolbar {
  min-height: 17x !important; 
  height: 17px !important;
  background-color: blue !important;
  font-size:12px;
  margin-top: 0px;
  justify-content: center;

}

.container{
  margin: 15px;
  height:100px;
  width:100px;
}


mat-grid-tile {
  background: lightgreen;;
}

.layout-nav-demo {
    position: relative;
    width: 100%;
    height: 100px;
    
   }
   
   :host {
    width: 100%;
   }

   .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 40px;
    width: 100px;
    background-color: #ECEFF1 ;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }


  /* TABS Styles for tab labels */
.mat-tab-label {
  min-width: 0px !important;
  padding: 5px;
  background-color: blue ;
  color: white;
  font-weight: 500;
}

.mat-tab-header{
  background-color: blue ;
  border: none;
  
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 0px !important;
  padding: 5px;
  background-color: #ECEFF1;
  color:blue;
  font-weight: 500;
}

/* Styles for the ink bar. Barra azul */
.mat-ink-bar {
  background-color:transparent !important;
  
}

.mat-tab-body-wrapper {
  margin-top: 0px !important;
}


.example-small-box, .example-large-box {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1px;
  padding-left: 2px;
  border-radius: 0px;
}

.example-small-box {
  height: 80px;
  width: 1304px;
  padding-top: 0px;
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 110%;
  border-color: #9E9E9E;
  margin-top: 12px;
  
}
