<td-layout class="layout-nav-demo" sidenavWidth="280px" >
 <td-navigation-drawer
   flex
   sidenavTitle="Covalent"
   logo="teradata-dark"
   name="Firstname Lastname"
   email="firstname.lastname@company.com" 
 >
   <mat-nav-list>
     <a mat-list-item>
       <mat-icon >home</mat-icon>
       Home
     </a>
     <a mat-list-item tdLayoutToggle>
       <mat-icon >close</mat-icon>
       Close Drawer
     </a>
   </mat-nav-list>
   <div td-navigation-drawer-menu>
     <mat-nav-list>
       <a mat-list-item>
         <mat-icon>account_box</mat-icon>
         Profile
       </a>
     </mat-nav-list>
   </div>
 </td-navigation-drawer>
 <td-layout-nav logo="assets:teradata" toolbarTitle="Covalent@gmail.com" navigationRoute="" >

   <button mat-icon-button td-menu-button tdLayoutToggle [ngStyle]="{'background-color':'blue','border':'none'}">
     <mat-icon [ngStyle]="{'color':'white'}">menu</mat-icon>
   </button>
  


  <mat-tab-group dynamicHeight style="width:-12px">
  <mat-tab label="First">
    <div class="example-small-box mat-elevation-z2">
    
  <mat-grid-list cols="2" fxLayout="row" rowHeight="18" fxFlex="23" fxLayoutAlign="left" style="margin-top:17px;margin-left:-39px" >
    <mat-grid-tile [colspan]=1  [rowspan]= 2  fxFlex="0">
     <img src="assets/icons/inicio/architect.png" height="40px" width="40px"/></mat-grid-tile>
     <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="30" >
      <img src="assets/icons/inicio/client.png" height="17px" width="17px" style="margin-left:-22px"/>
      <div style="font-size:11px;font-weight:599;"> &nbsp;&nbsp;Clientes</div>
      </mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="30" >
    <img src="assets/icons/inicio/male.png" height="17px" width="17px"/>
      <div style="font-size:11px;font-weight:599;"> &nbsp;&nbsp;Proveedores</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="80"> <div style="font-size:12px;font-weight:440;">Proyectos</div></mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="30">
    <img src="assets/icons/inicio/caja-abierta.png" height="17px" width="17px" style="margin-left:-16px"/>
      <div style="font-size:11px;font-weight:599;"> &nbsp;&nbsp;Articulos</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2  [rowspan]= 1 fxFlex="80" rowHeight="1px"><div style="font-size:12px;color:gray">Inicio</div></mat-grid-tile>

    <div class="vertical-divider" style="margin-left:240px;margin-top:1px; height:75px;"></div> 
  </mat-grid-list>



    <mat-grid-list cols="5" fxLayout="row" rowHeight="18" fxFlex="34" fxLayoutAlign="left" style="margin-top:17px;margin-left:-55px" >
    <mat-grid-tile [colspan]=1  [rowspan]= 2  fxFlex="0">
        <img src="assets/icons/inicio/architect.png" height="40px" width="40px"/></mat-grid-tile>
      <mat-grid-tile [colspan]=1  [rowspan]= 2  fxFlex="0">
        <img src="assets/icons/inicio/architect.png" height="40px" width="40px"/></mat-grid-tile> 
      <mat-grid-tile [colspan]=1  [rowspan]= 2  fxFlex="0">
        <img src="assets/icons/inicio/architect.png" height="40px" width="40px"/></mat-grid-tile>
        <mat-grid-tile [colspan]=1  [rowspan]= 2  fxFlex="0">
        <img src="assets/icons/inicio/architect.png" height="40px" width="40px"/></mat-grid-tile>

     <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="180" >
      <img src="assets/icons/inicio/client.png" height="17px" width="17px" style="margin-left:-22px"/>
      <div style="font-size:11px;font-weight:599;"> &nbsp;&nbsp;Clientes</div>
      </mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="180" >
    <img src="assets/icons/inicio/male.png" height="17px" width="17px"/>
      <div style="font-size:11px;font-weight:599;"> &nbsp;&nbsp;Proveedores</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="80"> <div style="font-size:12px;font-weight:440;">Proyectos</div></mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="80"> <div style="font-size:12px;font-weight:440;">Proyectos2</div></mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="80"> <div style="font-size:12px;font-weight:440;">Proyectos3</div></mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="80"> <div style="font-size:12px;font-weight:440;">Proyectos4</div></mat-grid-tile>
    
    
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="180">
    <img src="assets/icons/inicio/caja-abierta.png" height="17px" width="17px" style="margin-left:-16px"/>
      <div style="font-size:11px;font-weight:599;"> &nbsp;&nbsp;Articulos</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=5  [rowspan]= 1 fxFlex="100" rowHeight="1px"><div style="font-size:12px;color:gray">Inicio</div></mat-grid-tile>

    <div class="vertical-divider" style="margin-left:440px;margin-top:1px; height:75px;"></div> 
  </mat-grid-list>




    </div>
  </mat-tab>
  <mat-tab label="Second 2" >
    <div class="example-small-box mat-elevation-z2" >

  <mat-grid-list cols="2" fxLayout="row" rowHeight="18" fxFlex="17" fxLayoutAlign="left" style="margin-top:15px;" >
    <mat-grid-tile [colspan]=1  [rowspan]= 2  fxFlex="0">
     <img src="assets/icons/inicio/architect.png" height="40px" width="40px" style="padding-top:1px"/></mat-grid-tile>
     <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="30" >7</mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="30" >2</mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="80">3</mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="30">4,,,,,,,,,,,,,,</mat-grid-tile>
    <mat-grid-tile [colspan]=2  [rowspan]= 1 fxFlex="80" rowHeight="1px">6</mat-grid-tile>
    <div class="vertical-divider" style="margin-left:180px;margin-top:1px; height:75px;"></div>
    
  </mat-grid-list>

  <mat-grid-list cols="2" fxLayout="row" rowHeight="25" fxFlex="17" fxLayoutAlign="left" style="margin-top:15px;margin-left:-33px">
    <mat-grid-tile [colspan]=1  [rowspan]= 3  fxFlex="0">1</mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="30" >2</mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="30">3</mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="30">4</mat-grid-tile>
    <div class="vertical-divider" style="margin-left:180px;margin-top:1px; height:75px"></div>
    
  </mat-grid-list>

  <mat-grid-list cols="2" fxLayout="row" rowHeight="25" fxFlex="17" fxLayoutAlign="left" style="margin-top:15px;margin-left:-33px">
    <mat-grid-tile [colspan]=1  [rowspan]= 3  fxFlex="0">1</mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="30" >2</mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="30">3</mat-grid-tile>
    <mat-grid-tile [colspan]=1  [rowspan]= 1 fxFlex="30">4</mat-grid-tile>
    <div class="vertical-divider" style="margin-left:180px;margin-top:1px; height:75px"></div>
    
  </mat-grid-list>


  
  



    </div>
  </mat-tab>
  <mat-tab label="Three 3">
    <div class="example-small-box mat-elevation-z2">
      Small content
    </div>
  </mat-tab>
</mat-tab-group>

  
 </td-layout-nav>
</td-layout>


